<section class="hero is-fullheight pb-5">
    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    BabbelChat
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <button id="send" type="button" (click)="leave()" class="button is-primary is-outlined">
                        leave
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <section #messageBoard class="app-message-board">
                <app-message-board [messages]="messages"></app-message-board>
            </section>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <section class="is-flex is-flex-direction-column" (keydown)="onKeydown($event)">
                <div class="control">
                    <label class="label">{{charatersLeft}} characters left</label>
                    <textarea [(ngModel)]="message" id="msg" type="text" maxlength="{{messageMaxLength}}"
                        placeholder="enter your message" class="textarea has-fixed-size" rows="3"></textarea>
                </div>
                <button id="send" type="button" (click)="sendMessage()" class="button is-primary">send</button>
            </section>
        </div>
    </div>
</section>