<div>
    <div *ngIf="messages">
        <ul>
            <li *ngFor="let message of messages">
                <app-message [message]="message"></app-message>
            </li>
        </ul>
    </div>
</div>