<div *ngIf="message">
    <div class="message is-dark my-5">
        <div *ngIf="isSystemMessage; else userMessage">
            <article class="message">
                <div class="message-body">
                    <span> {{ message.username }} </span>
                    <span> {{ message.message }} </span>
                </div>
            </article>
        </div>
    </div>
    <ng-template #userMessage>
        <div class="message-header">
            <span> {{ message.username }} </span>
            <span> {{ timestamp }} </span>
        </div>
        <div class="message-body">
            <span> {{ message.message }} </span>
        </div>
    </ng-template>
</div>