<div class="container">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <i class="fas fa-comments"></i>
                <p class="title mx-3">BabbelChat</p>
                <div class="is-flex">
                    <input [(ngModel)]="user" type="text" placeholder="select a name" class="input">
                    <button type="button" (click)="connect()" class="button is-primary">connect</button>
                </div>
            </div>
        </div>
    </section>
</div>