// import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

// customize
$primary: $blue;

// import rest of bulma
@import "node_modules/bulma/bulma";

// general
body html {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

